tinydb
docker-py
girder-client
tornado>=4.1
requests
fusepy
pycurl
git+https://github.com/data-exp-lab/girderfs@master#egg=girderfs
git+https://github.com/PyFilesystem/pyfilesystem
futures ; python_version < '3.0'
dexml
cryptography
